---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<section id="first-section">

	</section>
</Layout>

<style>
		:root {
		--text: #edd7f8;
		--background: #0c0727;
		--primary: #d6a8f0;
		--secondary: #220829;
		--accent: #8d29db;
	}
	#first-section {
		height: 100vh;
		width: 100%;
		background-color: var(--background);
	}
</style>
