---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
import Grid from '../components/Grid.astro';
import Carrousel from '../components/Carrousel.astro'
---

<Layout title="Welcome to Astro.">
	<main>

		<section class="form">
			<Form />
		</section>

		<section class="grid">
			<Grid />
		</section>

		<section class="Carrousel">
			<Carrousel />
		</section>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

	section {
		margin-bottom: 200px;
	}
</style>
