---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
