body {
    margin: 0;
    background-color: #151623;
    font-family: quicksand;
}

#Navbar {
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Navbar img {
    margin-left: 5rem;
    cursor: pointer;
}

#Navbar ul {
    font-size: 0.7rem;
    margin-right: 5rem;
    display: flex;
    color: white;
    list-style-type: none;
    gap: 10px;
}

#Navbar li {
    cursor: pointer;
    margin: 0.30rem;
}

#sect1 {
    height: 120vh;
    background-image: url('./recursos/300principal-1-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

#wraptext {
    color: white;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

#text {
    width: 4.9rem;
    border-radius: 5px;
    border-top: 1px solid white;
    margin-bottom: 0;
    font-family: poppins;
    font-weight: 500;
}

#text1 {
    line-height: 0.9;
    letter-spacing: -1px;
    width: 45rem;
    margin-top: 0;
    font-size: 4.5rem;
    font-family: poppins;
    font-weight: 200;
}

#text1 span {
    border-bottom: 1px solid white;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

#sect2 {
    color: white;
}

#texts {
    width: 75rem;
    margin-left: 9rem;
    margin-bottom: 10rem;
}

#sect2 h2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2 h3 {
    display: flex;
    justify-content: center;
    text-align: center;    
}

#backgr {
    margin-left: 12rem;
    height: 120vh;
    background-image: url(./recursos/300NK-Visuel17.png);
    background-repeat: no-repeat;
    background-size: cover;    
}

#ficha {
    background-color: white;
}

.texts h1, p {
    display: flex;
    justify-content: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    height: 300px;
    padding: 60px;
    box-shadow:#151623;
}

.dashboard {
    text-align: center;
}