<div id="section">
    <img src="/public/powebikes-LOGO.png" alt="">

    <ul>
        <li>INICIO</li>
        <li>NOSOTROS</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<style>
#section {
    display: flex;
}
</style>