---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css'>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
		<body>
		  <header>
	  	    <div class="nav">

		      <img src="/images/LOGO_GDEMesa-de-trabajo-1-1.png" alt="Logo">

			  <ul>
			    <li>

				  <i class="fi fi-ss-home"></i>
				  <span>INICIO</span>

				</li>

				<li>

				  <i class="fi fi-ss-users-alt"></i>
				  <span>NOSOTROS</span>

				</li>

				<li>

				  <i class="fi fi-ss-motorcycle"></i>
				  <span>NUESTRAS MOTOS</span>
				  
				</li>

				<li>

				  <i class="fi fi-ss-marker"></i>
				  <span>SUCURSALES</span>

				</li>

				<li>

				  <i class="fi fi-ss-interrogation"></i>
				  <span>PREGUNTAS PRECUENTES</span>

				</li>

				<li>

				  <i class="fi fi-ss-phone-call"></i>
				  <span>CONTACTANOS</span>

				</li>
			  </ul>

		</div>

		<div class="container">

		  <div class="sectizq">

		  	<p class="parra">ASEGURA TU MOTO</p>
			<img class="motoimg" src="/images/kawasaki_minja_650_2021_10.png" alt="">

		  </div>

		  <div class="sectder">
.
			<p class="parra">SACÁ TU CRÉDITO</p>
			<img class="motoimg" src="/images/Car Pricing Hero.png" alt="">

		  </div>

		</div>
			
		</header>

		<section>
		  <img class="sectback" src="/images/BANNER_WEB-1.png" alt="banner">
		</section>

		<div class="vidcont">
		  <video width="1920" loop autoplay muted playsinline style="opacity: 0.5"
			  src="https://ciudadmoto.com/site/wp-content/uploads/2023/08/slider-moto.webm">
		  </video>
		  <h2 class="interior">Líderes en venta de motos</h2>
		  <button class="interior">Conocé nuestras motos</button>
		</div>

		<slot />
		</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	body::-webkit-scrollbar {
		width: 1px; 
		height: 1px;
	}

	html {
		font-family: poppins;
		background: #13151a;
		background-size: 224px;
	}

	body {
		margin: 0;
		padding: 0;
	}

	header {
		background-color: #f8df00;
		height: 11vh;
		width: 100%;
	}

	.nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 50px;
		margin-right: 50px;
	}

	.nav img {
		width: 120px;
		cursor: pointer;
	}

	header ul {
		display: flex;
		justify-content: center;
		gap: 4rem;
		list-style-type: none;
	}
	
	header li {		
		font-size: 1.1rem;
		cursor: pointer;
		transition: .3s ease-out;
	}
	header ul li span:hover {
		text-decoration: underline;
	}

	ul li i {
		vertical-align: middle;
		margin-right: 10px;
	}
	ul li {
		display: inline-block;
	}


.container {
    display: flex;
}


.motoimg {
	width: 49.9vw;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;   
	opacity: 0.6;
	transition: 0.3s;
	border: 2px solid #f8df00;
	cursor: pointer;
	margin-top: 1px;
}

.motoimg:hover {
	opacity: 1;
	transform: scale(1.1);
}

.parra {
    position: absolute;
	color: white;
	top: 80px;
	transform: translateX(60%);
	opacity: 1;
	font-size: 50px;	
	text-align: center;
	z-index: 1;
	cursor: pointer;
}

.sectback {
	margin-top: 120px;
	width: 100%;
	margin-bottom: 0;
}

.vidcont {
	position: absolute;
}

.interior {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

</style>