---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<img src="" alt="">
			<ul>
				
				<li>
					<i class="fi fi-rr-home"></i>
					INICIO
				</li>
				<li>
					<i class="fi fi-rr-users-alt"></i>
					NOSOTROS
				</li>
				<li>
					<i class="fi fi-rr-motorcycle"></i>
					NUESTRAS MOTOS
				</li>
				<li>
					<i class="fi fi-rr-marker"></i>
					SUCURSALES
				</li>
				<li>
					<i class="fi fi-rr-interrogation"></i>
					PREGUNTAS PRECUENTES
				</li>
				<li>
					<i class="fi fi-rr-phone-call"></i>
					CONTACTANOS
				</li>
			</ul>

<div id="container">

<div id="sectizq">
	<p>
       ASEGURA TU MOTO
	</p>
	<img src="/images/kawasaki_minja_650_2021_10.png" alt="">
</div>

<div id="sectder">
	<p>
       SACÁ TU CRÉDITO 
	</p>
	<img src="/images/Car Pricing Hero.png" alt="">
</div>

</div>

			<!-- <div class="container">
				<div class="img1">ASEGURA TU MOTO</div>

				<div class="img2">SACÁ TU CRÉDITO</div>
			</div> -->
			
		</header>

		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	body {
		margin: 0;
		padding: 0;
	}

	header {
		background-color: #f8df00;
		height: 17vh;
		width: 100%;
	}

	header ul {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		gap: 4rem;
		list-style-type: none;
	}

	header li {
		display: flex;
		align-content: center;
		gap: 1rem;
		font-size: 1.1rem;
		cursor: pointer;
	}

#container {
    display: flex;
	margin-top: 75px;
}

#sectizq img {
	width: 50vw;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;   
	opacity: 0.6;
	transition: 0.3s;
	border: 1px solid #f8df00;
}

#sectizq img:hover {
	opacity: 1;
	transform: scale(1.1);
}

#sectizq p {
     position: absolute;
	 color: white;

	}

#sectder img {
	width: 50vw;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;   
	opacity: 0.6;
	transition: 0.3s;
	border: 1px solid #f8df00;
}

#sectder img:hover {
	opacity: 1;
	transform: scale(1.1);
}


#sectder p {
	position: absolute;
	opacity: 1;
	color: white;
}

	/* .container {
		display: flex;
		margin-top: 75px;
	}

	.img2 {
		width: 50%;
		height: 200px;
		background-image: url('/images/Car Pricing Hero.png');
		background-repeat: no-repeat;
		background-size: cover;   
		border: 1px solid #f8df00;
		opacity: 0.6;
		transition: 0.3s;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 50px;

	}

	.img2:hover {
		transform: scale(1.1);
		opacity: 1;
	}

	.img1 {
		width: 50%;
		height: 200px;
		background-image: url('/images/kawasaki_minja_650_2021_10.png');
		background-repeat: no-repeat;
		background-size: cover;    
		border: 1px solid #f8df00;
		opacity: 0.6;
		transition: 0.3s;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 50px;
	}

	.img1:hover {
		transform: scale(1.1);
		opacity: 1;
	} */

</style>
