body {
  background-color: #0D0D10;
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #18181E;
  width: 7vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease; /* Mantén la transición aquí si la necesitas */
}

.logo {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo img {
  width: 4rem;
}

.expand-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #18181E;
  position: absolute;
  top: 45%;
  left: 6vw;
  cursor: pointer;
  transition: left 0.3s ease, transform 0.3s ease, background-color 0.3s ease; /* Agregado para una transición suave */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #f5af19; /* Cambié el color para que sea visible sobre el fondo oscuro */
  transition: transform 0.3s ease; /* Agregado para una transición suave */
  border-radius: 2px; /* Agregado para hacer que las líneas tengan bordes redondeados */
}

#line1 {
  transform-origin: right center; /* Establece el punto de transformación al extremo derecho */
}

#line2 {
  transform-origin: right center; /* Establece el punto de transformación al extremo derecho */
}


.navcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
}


.nav-list img {
  width: 2rem;
}

.nav-item {
  color: white;
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
  position: relative;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.settings-img {
  width: 2.3rem;
}